In [ ]:
#hello world

print('U1tr0n')

U1tr0n

In [ ]:
"ak"+" "+"47"

'ak 47'

In [ ]:
#adding 2 integers

a,b=map(int,input().split())
print(a+b)

1 999
1000

In [ ]:
#square root

a=int(input())
print(a**0.5)

64
8.0

In [ ]:
#square,cube of num [[sqare root(**0.5)]]

a=int(input())
print(a*a)
print(a*a*a)

2
4
8

In [ ]:
# area of triangle

a,b,c=map(int,input().split())
s=(a+b+c)/2
x=(s*(s-a)*(s-b)*(s-c))**0.5
print(x)

5 6 7
14.696938456699069

In [ ]:
#solve quadratic equation

a,b,c=map(int,input().split())
d=((b**2)-4*a*c)
x=(-b+((d)**0.5))/(2*a)
y=(-b-((d)**0.5))/(2*a)
print(x,y)

2 1 -300
12.0 -12.5

In [ ]:
# swap two variables

x,y=map(int,input().split())
x,y=y,x
print(x,y)

999 1
1 999

In [ ]:
# prime number

n=int(input())
x=False
if n>1:
  for i in range(2,n):
    if n%i==0:
      x=True
    break
if x:
  print('not a prime number')
else:
  print('prime number')

2
prime number

In [ ]:
# Armstrong number

n=int(input())
x=0
y=n
while y>0:
  z=y%10
  x+=z**3
  y//=10
if x==n:
  print('Armstrong number')
else:
  print('not a Armstrong number')

153
Armstrong number

In [ ]:
# factorial

n=int(input())
x=1

if n<0:
   print('no factorial')
elif n==0:
   print('1')
else:
   for i in range(1,n+1):
       x=x*i
   print(x)

8
40320

In [ ]:
# reverse a input[main]

x=input()
y=x[::-1]
print(y)

abcd
dcba

In [ ]:
#reverse a string

def reverse_string(str):
  str1=''
  for i in str:
    str1=i+str1
  return str1

str=input()
print(reverse_string(str))

abcd
dcba

In [ ]:
# reverse a list

x=list(map(int, input().split()))
x.reverse()
print(x)

1 2 3 4
[4, 3, 2, 1]

In [ ]:
#{Md_trls

n=list(map(int,input().split()))
print(n)
if n[0]==n[-1]:
  print('same')

1 2 3 4 1
[1, 2, 3, 4, 1]
same

In [ ]:
n=input()
t=('a','e','i','o','u')
x=0
for i in n:
  if i in t:
    x+=1
print(x)

codeforces
4

In [ ]:
s=input()
p='aaa'
r='bbb'
c=0
if p in s or r in s:
  c=c+1
if c >= 1 :
  print("Yes")
else:
  print("No")

aaaxbbb
Yes

In [ ]:
n=list(map(int,input().split()))
x=int(input())
t=len(n)
for i in range(t):
  if n[i]==x:
    n[i]=100
  else:
    continue
print(n)

2 3 4 5 6 7
5
[2, 3, 4, 100, 6, 7]

In [ ]:
n=list(map(int,input().split()))
x=0
t=len(n)
for i in range(t):
  if (n.index(n[i])%2)==0:
    x+=n[i]
  else:
    continue
print(x)

#Md_trls}

10 20 30 40
40

In [ ]:
# (reverse num) (diff btw array and list) (diff btw break and continue)
# (###pinne string operators###) (string operations) (list operations)
# (diff btw append and extend) (prime no btw 1 and 20)
# (diff btw tuple and list) (fibonnaci sequence without def)
# (data type) (string operators and methods) (diff btw '/' and '//')
# (diff btw lists,array and tuples) (wht is operator)
# (datatypes,keywords,str method) (reverse str prog)
# (what is string operators what is difference between array and list)
# (what are logical operator and what are assignment operator)
# ( find the sum of n natural numbers using recursion)
#(whether a number is prime or not, it should say is it a prime or not)

In [ ]:
#ANS:-
#['/' division and '//' quotient]
#[= is assignment operator. == is equality comparison operator]
#[The break statement is used to exit the loop even if the while condition is true]
#[The continue statement is used to skip the remaining statements and go to the beginning of the loop]
# Hint :: x+=1 for x=0, x+=i for x='' , x+=[i] or n[i] for x=[]
#[key words ==> True False None and or not in is if elif else for while def class return from ]
#[]

In [ ]:
#Some questions of PSAT from other section
#What are string operators
#What are string meathods
#Difference between '/' and '//'
#Difference between lists and arrays, tuples
#What is operator
#whatis datatype

In [ ]:
#kings race, good num, find divisible, array stab, unimodel, lesha, police rec, rank

In [ ]:
print('@')

@

In [ ]:
# reverse a input[main]

x=input()
y=x[::-1]
print(y)

abcd
dcba

In [ ]:
#reverse a string

def reverse_string(str):
  str1=''
  for i in str:
    str1=i+str1
  return str1

str=input()
print(reverse_string(str))

abcd
dcba

In [ ]:
# reverse a list

x=list(map(int, input().split()))
x.reverse()
print(x)

1 2 3 4
[4, 3, 2, 1]

In [ ]:
for k in range(1,21):
  x=0
  for i in range(2,k):
    if k%i==0:
      x+=1
  if x==0 and k!=1:
    print(k,end=' ')

2 3 5 7 11 13 17 19

In [ ]:
n=int(input())
a,b,c=0,1,0
if n==1:
  print(a)
else:
  while c<n:
    print(a,end=' ')
    d=a+b
    a=b
    b=d
    c+=1

15
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377

In [ ]:
n=int(input())
x=0
for i in range(2,n):
  if n%i==0:
    x+=1
if x!=1:
  print('prime')
else:
  print('non prime')

2
prime